html{
    background: rgb(255, 255, 100);
}

header{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0 0;
    margin: 0 0;
    border: 0 0;
    font-size: 6.5vw;
    font-family: Consolas, monaco, monospace;
    background: rgb(255, 255, 255, 0.8);
    background-size: cover;
}

#intro{
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    border: 0 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#makeYourChoice{
    text-align: center;
}

.playerChoices{
    text-align: center;
}

.choiceTxt{
    display: inline-block;
}

.choiceTxt p{
    font-family: Consolas, monaco, monospace;
    font-weight: bold;
}

.choiceImg{
    outline: solid black;
    display: flexbox;
    flex: auto;
    margin: 0 10px;
    transition: all 0.1s ease;
}

.choiceImg:hover{
    border: solid red;
}

/*transition effect when clicked/touched*/
.chosen{
    border: solid red;
    transform: scale(1.1);
    box-shadow: 0 0 1rem #ffc600;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .choiceImg{
        width: 80px;
        height: 80px;
    }
}

.result{
    margin-bottom: 50px;
}

.roundResult{
    text-align: center;
    position: relative;
    top: 30px;
}

#pChoiceResult{
    text-align: center;
    position: relative;
    width: 100%;
    right: 20px;
}

#playerScore{
    float: left;
    padding-left: 200px;
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
}

#comScore{
    float: right;
    padding-top: 10px;
    padding-right: 200px;
    text-align: center;
    text-decoration: underline;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #playerScore{
        padding-left: 20px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #comScore{
        padding-right: 20px;
    }
}