html{
    background: rgb(255, 255, 100);
}

header{
    text-align: center;
    font-weight: bold;
    padding: 0 0;
    margin: 0 0;
    border: 0 0;
    font-size: 6.5vw;
    font-family: Consolas, monaco, monospace;
}

#intro{
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    border: 0 0;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#makeYourChoice{
    text-align: center;
}

.playerChoices{
    text-align: center;
}

.choiceImg{
    outline: solid black;
    display: flexbox;
    flex: auto;
    margin: 0 10px;
    transition: all 0.1s ease;
}
/*
.choiceImg:hover{
    border: solid red;
}*/

/*transition effect when clicked/touched*/
.chosen{
    border: solid red;
    transform: scale(1.1);
    border-color: blue;
    box-shadow: 0 0 1rem #ffc600;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .choiceImg{
        width: 80px;
        height: 80px;
    }
}